* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.container {
    width: 1280px;
    height: 1812px;
    margin: 0 auto;
}

.header-container {
    width: 100%;
    height: 120px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 186px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.logo-title {
    text-decoration: none;
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    color: #545454;

}

.logo-subtitle {
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    color: #292929;

}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 443px;
    height: 27px;

}
.nav-link{
    text-decoration: none;
    color: #545454; 
}
.nav-item {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: #545454;
    padding-bottom: 3px;
}

.nav-item :hover {
    cursor: pointer;
    color:#F1CDB3;
    transition: .3s all ease-in-out;
}

.nav-item-active {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #545454;
    border-bottom: 3px solid #F1CDB3;
}

.pets {
    width: 100%;
    height: 1342px;
    background-color: #F6F6F6;
    padding-top: 80px;
}

.pets-content {
    width: 1200px;
    height: 1162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.pets-heading {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;

}

.cards-container {
    width: 1200px;
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26px;

}

.card-content {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}


.card-content:hover{
    cursor: pointer;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: all .3s ease-in;
}

.card-content:hover .pet-card-button {
    cursor: pointer;
    background: #F1CDB3;
    transition: all .3s ease-in;
}

.pet-card-title {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.pet-card-button {
    width: 187px;
    height: 52px;
    padding: 15px 45px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    font-family: GeorgiaRegular;
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.08em;
    color: #292929;
    margin-bottom: 28px;
    padding-bottom: 34px;
    background-color: #FAFAFA;
}

.pet-navigation {
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;

}

.button-paginator-inactive {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}

.button-paginator-active {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background-color: #F1CDB3;
    color: #292929;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}

.button-paginator {
    width: 52px;
    height: 52px;
    top: 1110px;
    left: 646px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    color: #292929;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}
.button-paginator:hover {
    cursor: pointer;
    background-color: #F1CDB3;
    
}

.footer {
    width: 100%;
    height: 350px;
    background-image: url(img/footer-background.png);
    background: url(img/footer-gradient-background.png);
    display: flex;
    align-items: center;

}

.footer-content {
    width: 93.75%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.contacts {
    width: 280px;
    height: 234px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.location {
    width: 302px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 56px;
    align-items: center;
}

.footer-puppy {
    margin-top: 40px;
}

.mail {
    width: 251px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-title {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.contact-text {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    align-items: center;
    text-decoration: none;
    color: #F1CDB3;

}

.phone {
    width: 239px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-phone{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #F1CDB3;
}

.boston {
    width: 302px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.london {
    width: 302px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-location {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    text-decoration: none;
    color: #F1CDB3;
    width: 260px;

}

.link-location{
    text-decoration: none;
}